* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  span {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    animation: scale 1s linear infinite;
    &.red {
      background: crimson;
      animation-delay: 0s;
    }
    &.blue {
      background: dodgerblue;
      animation-delay: 0.2s;
    }
    &.indigo {
      background: yellowgreen;
      animation-delay: 0.4s;
    }
  }
}

@keyframes scale {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  50% {
    opacity: 1;
    transform: scale(1.2);
  }

  100% {
    opacity: 0;
    transform: scale(0.5);
  }
}
